<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">

	</head>

	<body>
		<div class="jumbotron">
			<div class="container"> 
				<h1>Willkommen zu meinem One Month Python Abschluss-Projekt</h1>
				<p>Mein Name ist Arthur Rutishauser. Ich bin Chefredaktor der <a href="http://www.sonntagszeitung.ch/">SonntagsZeitung</a> und des <a href="http://www.tagesanzeiger.ch/">Tages-Anzeigers</a>. Ich habe dieses Projekt gemacht für <a href="http://onemonth.com/courses/one-month-python">One Month Python</a>.</p>
				<a href="{{ url_for('index') }}">Zurück zur Homepage</a>
			</div>
		</div>
	</body>
</html>