
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">

	</head>

	<body>
		<div class="jumbotron">
			<div class="container"> 
				{% if forecast %}
					<h1>{{ forecast}}!</h1>
					<h1>Die besten Beizen!{{ businesses}}</h1>
					<a href="{{ url_for('index') }}">Suche eine andere Stadt</a>
				{% else %}
					<h1>Hallo, mein Freund, wo lebst du?</h1>
					<form action="/" class="form-inline">
						<div class="form-group">
							<input type="text" name="address" placeholder="Stadt, Land" class="
							form-control" >
						</div>
						
						<input type="submit" name="Submit" class="btn
						btn-primary">
					</form>
				{% endif %}
				{% for business in businesseses%}
					<h1>{{ business.address}}</h1>


				{% endfor %}

				<a href="{{ url_for('about') }}">Über dieses Projekt</a>
			</div>
		</div>
		
	</body>
</html>
